@mixin underline-from-center() {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  backface-visibility: hidden;
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 2px;
    bottom: 0;
    left: 51%;
    right: 51%;
    background: $theme-color;
    transition-duration: 0.2s;
    transition-property: right, left;
    transition-timing-function: ease-out;
  }

  &.active,
  &:active,
  &:focus,
  &:hover {
    &:before {
      right: 0;
      left: 0;
    }
  }
}

@mixin underline-from-center-dot() {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  backface-visibility: hidden;
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 3px;
    width: 8px;
    margin-left: -4px;
    border-radius: 6px;
    bottom: 0;
    left: 50%;
    right: 50%;
    background: $theme-color;
    transition-duration: 0.3s;
    //transition-property: right, left;
    transition-timing-function: ease-out;
  }

  &.active,
  &:active,
  &:focus,
  &:hover {
    &:before {
      right: 0;
      left: 0;
      width: 100%;
      margin-left: 0;
    }
  }
}

@mixin underline-from-initial() {
  display: inline-block;
  backface-visibility: hidden;
  box-shadow: 0 0 1px transparent;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 2px;
    width: 12px;
    //border-radius: 6px;
    bottom: 0;
    left: 0;
    background: $theme-color;
    transition-duration: 0.3s;
    //transition-property: right, left;
    transition-timing-function: ease-out;
  }

  &.active,
  &:active,
  &:focus,
  &:hover {
    &:before {
      width: 100%;
    }
  }
}

@mixin circle-animate() {
   // found at https://stackoverflow.com/questions/26807610/css-only-animate-draw-circle-with-border-radius-and-transparent-background
   // adapted to allow ease-in & ease-out per half.
   // beziers from https://easings.net/en#

   & {
      position: absolute;
   }

   #halfclip1, #halfclip2 {
       width: 50%;
       height: 100%;
       right: 0px;
       position: absolute;
       overflow: hidden;
       transform-origin: left center;
   }

   #halfclip2 {
       transform: rotate(180deg);
   }

   .halfcircle {
     box-sizing: border-box;
     height: 100%;
     right: 0px;
     position: absolute;
     border: solid 3px transparent;
      border-top-color: $theme-color;
      border-left-color: $theme-color;
      border-radius: 50%;
   }

   #clipped {
       width: 200%;
       transform: rotate(-45deg);
   }

   &:hover #halfclip1 #clipped {
       transform: rotate(135deg);
       animation: rotate .5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 1;
   }

   &:hover #halfclip2 #clipped {
       /*transform: rotate(135deg);*/
       animation: rotate .5s cubic-bezier(0.215, 0.61, 0.355, 1) .5s 1 forwards;
   }

   @keyframes rotate {
     0% {transform: rotate(-45deg);}
     100% {transform: rotate(135deg);}
   }


   #fixed {
     width: 100%;
       transform: rotate(135deg);
       opacity: 0;
   }

   &:hover #fixed {
       opacity: 1;
       animation: showfixed 1s linear 1;
   }



   @keyframes showfixed {
     0% {opacity: 0;}
     49.99% {opacity: 0;}
     50% {opacity: 1;}
    100% {opacity: 1;}
   }

}

@mixin mobile-menu-icon() {
  @keyframes clickfirst {
    0% {
      transform: translateY(6px) rotate(0deg);

    }

    100% {
      transform: translateY(0) rotate(45deg);
    }
  }

  @keyframes clickmid {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes clicklast {
    0% {
      transform: translateY(-6px) rotate(0deg);
    }

    100% {
      transform: translateY(0) rotate(-45deg);
    }
  }

  @keyframes outfirst {
    0% {
      transform: translateY(0) rotate(-45deg);
    }

    100% {
      transform: translateY(-6px) rotate(0deg);
    }
  }

  @keyframes outmid {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes outlast {
    0% {
      transform: translateY(0) rotate(45deg);
    }

    100% {
      transform: translateY(6px) rotate(0deg);
    }
  }

  span {
    position: absolute;
    /* fallback for browsers which still doesn't support for `calc()` */
    left: 15px;
    top: 25px;
    left: calc((100% - 20px) / 2);
    top: calc((100% - 1px) / 2);
    width: 20px;
    height: 1px;
    background-color: $theme-color;

    &:nth-child(1) {
      transform: translateY(6px) rotate(0deg);
    }

    &:nth-child(3) {
      transform: translateY(-6px) rotate(0deg);
    }
  }

  &.icon-click {
    span:nth-child(1) {
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-name: clickfirst;
    }

    span:nth-child(2) {
      animation-duration: 0.2s;
      animation-fill-mode: both;
      animation-name: clickmid;
    }

    span:nth-child(3) {
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-name: clicklast;
    }
  }

  &.icon-out {
    span:nth-child(1) {
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-name: outfirst;
    }

    span:nth-child(2) {
      animation-duration: 0.2s;
      animation-fill-mode: both;
      animation-name: outmid;
    }

    span:nth-child(3) {
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-name: outlast;
    }
  }
}
