// ==============================
// Social
// =============================

.social-links {
  text-align: center;

  .icon {
     transition-property: transform;
     transition-timing-function: ease-out;
     transition-duration: 0.3s;
     display: inline-block;

     &:hover {
        transform: translateY(-6px);
     }

     .iconfont {
       font-size: $social-icon-font-size;
       transition-property: color;
       transition-timing-function: ease-out;
       transition-duration: 0.2s;

       & + .iconfont {
         margin-left: $social-link-margin-left;
       }

       &:hover {
         color: $theme-color;
       }
     }
   }
}
